#override-body {
    padding: 20px;
    text-align: center;
    background-color: #FFD4CA;
    font-family: 'GT Super Ds Trial', sans-serif;
    font-family: 'GT Super Txt Trial', sans-serif;
    color: #0A2925;
}

main {
    display: flex;
}

nav {
    margin: 15px;
}

form {
    margin: 15px;
}

h3 {
    padding: 30px;
}

#displayed-shows {
    display: flex;
    flex-wrap: wrap;
}

.show-image-div {
    margin: 10px;
    position: relative;

}

.overlay-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-overlay {
    color: white;
    margin: 10px;
}

.change-form {
    position: relative;
    display: flex;
    justify-content: center;
}

.change-select {
    position: absolute;
}

.delete-button {
    position: relative;
    margin: 10px;
    height: 30px;
    width: 30px;
}



div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #AAC0AF;
    padding: 40px;
    font-size: 25px;
}

#movie-list {
    display:flex;
    justify-content: center;
}

#movie-list img {
    width: 100px;
    height: auto;
    margin: 7px;
}



